/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v15-latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v15-latin-300.ttf') format('truetype');
  /* Safari, Android, iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-italic.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/open-sans-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin-italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v15-latin-italic.ttf') format('truetype');
  /* Safari, Android, iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v15-latin-600.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('../fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v15-latin-600.ttf') format('truetype');
  /* Safari, Android, iOS */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/open-sans-v15-latin-600italic.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url('../fonts/open-sans-v15-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v15-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin-600italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v15-latin-600italic.ttf') format('truetype');
  /* Safari, Android, iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v15-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v15-latin-700.ttf') format('truetype');
  /* Safari, Android, iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v15-latin-800.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/open-sans-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin-800.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v15-latin-800.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Bebas Neue';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/BebasNeueRegular.eot');
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/BebasNeueBold.eot');
  src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeueBold.woff') format('woff'), url('../fonts/BebasNeueBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Bebas Neue';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/BebasNeueLight.eot');
  src: local('Bebas Neue Light'), local('BebasNeueLight'), url('../fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeueLight.woff') format('woff'), url('../fonts/BebasNeueLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Bebas Neue';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/BebasNeue-Thin.eot');
  src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('../fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-Thin.woff') format('woff'), url('../fonts/BebasNeue-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Bebas Neue Book';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/BebasNeueBook.eot');
  src: local('Bebas Neue Book'), local('BebasNeueBook'), url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeueBook.woff') format('woff'), url('../fonts/BebasNeueBook.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.page-header {
  position: relative;
  min-height: 615px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.page-header::after {
  content: "Register Now For $100";
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 365px;
  height: 55px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: #ffffff;
  background-color: #2f2f2f;
  border: 4px solid #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.page-header__wrapper {
  padding: 0 80px;
}
.main-navigation {
  min-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation__item {
  padding-right: 25px;
}
.main-navigation__item:last-child {
  padding-right: 0;
}
.main-navigation__link {
  position: relative;
  display: inline-block;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}
.main-navigation__link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  display: block;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}
.main-navigation__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.5s ease-in-out;
  left: 50%;
}
.main-navigation__link:hover::before {
  width: 50%;
  left: 0;
}
.main-navigation__link:hover::after {
  width: 50%;
}
.main-navigation__link:active {
  opacity: 0.4;
  transition: 0.3s;
}
.page-header__headline {
  margin: 0;
  margin-top: 330px;
  font-size: 70px;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.about__advantages {
  padding: 0 80px;
  padding-top: 100px;
  padding-bottom: 35px;
  background-image: url(../img/about-bg.jpg);
}
.about__headline {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.about__advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.about__advantages-item {
  position: relative;
  width: 33.3%;
  margin-bottom: 50px;
  padding-top: 150px;
}
.about__advantages-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.about__advantages-item--online::before {
  top: 10px;
  width: 124px;
  height: 124px;
  background-image: url(../img/icon-learn-online.png);
}
.about__advantages-item--skype::before {
  top: 20px;
  width: 110px;
  height: 110px;
  background-image: url(../img/icon-skype.png);
}
.about__advantages-item--screen::before {
  width: 122px;
  height: 123px;
  background-image: url(../img/icon-sap.png);
}
.about__advantages-item--cloud::before {
  top: 30px;
  width: 94px;
  height: 94px;
  background-image: url(../img/icon-cloud.png);
}
.about__advantages-item--timer::before {
  top: 30px;
  width: 100px;
  height: 100px;
  background-image: url(../img/icon-timer.png);
}
.about__advantages-item--hana::before {
  top: 50px;
  width: 207px;
  height: 72px;
  background-image: url(../img/icon-hana.png);
}
.about__advantages-item--sandglass::before {
  top: 45px;
  width: 72px;
  height: 81px;
  background-image: url(../img/icon-sandglass.png);
}
.about__advantages-item--chat::before {
  top: 35px;
  width: 86px;
  height: 86px;
  background-image: url(../img/icon-support.png);
}
.about__advantages-item--unlimited::before {
  top: 50px;
  width: 180px;
  height: 67px;
  background-image: url(../img/icon-infinity.png);
}
.advantages-item__desc {
  margin: 0;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
.about__trainer {
  padding: 0 80px;
  background-color: #4888eb;
}
.about__trainer-container {
  position: relative;
  padding-left: 330px;
  padding-top: 40px;
  padding-bottom: 45px;
}
.about__trainer-container::before {
  content: "";
  position: absolute;
  top: -38px;
  left: 0;
  width: 287px;
  height: 287px;
  background-image: url(../img/trainer-photo-about.png);
}
.about__trainer-headline {
  margin: 0;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
.about__trainer-desc {
  margin: 0;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 400;
  color: #ffffff;
}
.about__trainer-button {
  margin: 0;
  padding: 5px 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background: none;
  border: 3px solid #ffffff;
  transition: 0.5s;
}
.about__trainer-button:hover {
  color: #000000;
  border-color: #000000;
  transition: 0.5s;
  cursor: pointer;
}
.about__trainer-button:active {
  opacity: 0.3;
}
.about__plus {
  padding: 0 80px;
  padding-top: 110px;
  padding-bottom: 75px;
}
.about__plus-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.about__plus-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 32%;
  height: 268px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.about__plus-item--certified {
  background-image: url(../img/about-certified.jpg);
}
.about__plus-item--experience {
  background-image: url(../img/about-experienced.jpg);
}
.about__plus-item--teach {
  background-image: url(../img/about-teach.jpg);
}
.about__plus-overlay {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.3);
}
.about__pluss-info {
  margin: 0;
  padding-top: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
.about__pluss-info b {
  font-weight: 800;
  text-transform: uppercase;
}
.quote__wrapper {
  padding: 0 80px;
  padding-top: 60px;
  padding-bottom: 35px;
  background-color: #003d4c;
}
.quote__headline {
  margin: 0;
  margin-left: 30px;
  margin-bottom: 40px;
  font-size: 35px;
  line-height: 50px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}
.quote__text {
  position: relative;
  margin: 0;
}
.quote__text::after {
  content: "";
  position: absolute;
  bottom: 135px;
  right: 0;
  width: 300px;
  height: 400px;
  background-image: url(../img/trainer-photo-quote.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.quote__paragraph {
  position: relative;
  margin: 0;
  font-weight: 400;
  color: #ffffff;
}
.quote__paragraph:first-child::before {
  content: "“";
  position: absolute;
  top: 5px;
  left: -25px;
  font-size: 45px;
}
.quote__paragraph:last-of-type sub {
  font-size: 45px;
  line-height: 45px;
}
.quote__paragraph--photo {
  padding-right: 300px;
}
.quote__author {
  float: right;
  margin-top: 20px;
  padding-right: 330px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #ffffff;
}
.quote__confident {
  display: block;
  margin-top: 100px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.quote__einstein {
  position: relative;
  padding: 0 80px;
  padding-right: 392px;
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #4888eb;
}
.quote__einstein::after {
  content: "";
  position: absolute;
  top: -35px;
  right: 80px;
  width: 312px;
  height: 312px;
  background-image: url(../img/einstein-photo.png);
  background-repeat: no-repeat;
}
.quote__einstein-phrase {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.quote__einstein-author {
  display: block;
  padding-right: 75px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
}
.comparison__headline {
  margin: 0;
  padding: 20px 80px;
  font-weight: 300;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
}
.comparison__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.comparison__item {
  position: relative;
  width: 50%;
  padding: 0 80px;
  padding-top: 75px;
  padding-bottom: 35px;
  text-align: center;
}
.comparison__item--my {
  color: #ffffff;
  background-color: #4888eb;
  background-image: url(../img/comparison-trainer-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 400px 530px;
}
.comparison__item--sap {
  color: #373737;
  background-color: #d9c89e;
  background-image: url(../img/comparison-sap-icon.png);
  background-repeat: no-repeat;
  background-position: center 200px;
  background-size: 530px 245px;
}
.comparison__item--sap::after {
  content: "Vs";
  position: absolute;
  top: 50%;
  right: -43px;
  width: 95px;
  height: 95px;
  font-family: 'Open Sans', sans-serif;
  font-size: 55px;
  line-height: 95px;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #373737;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}
.comparison__item-headline {
  margin: 0;
  margin-bottom: 70px;
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
.comparison__item-headline b {
  font-weight: 800;
}
.comparison__item-quote {
  margin: 0;
  margin-bottom: 40px;
}
.comparison__item-paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: italic;
}
.comparison__source {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-style: italic;
}
.comparison__other {
  padding: 40px 80px;
  background-color: #eaeaea;
}
.comparison__other-headline {
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 55px;
  line-height: 70px;
  font-weight: 400;
  color: #515151;
  text-align: center;
}
.comparison__line {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.comparison__words {
  width: 900px;
  min-height: 80px;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 80px;
  line-height: 80px;
  font-weight: 300;
  color: #bfa870;
  text-align: center;
  border-bottom: 10px solid #4888eb;
}
.blue {
  color: #4688f1;
}
.font-size {
  font-size: 35px;
  vertical-align: middle;
}
.comparison__text {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: #373737;
  text-align: center;
}
.comparison__karate {
  position: relative;
  padding: 0 80px;
  padding-right: 380px;
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #4888eb;
}
.comparison__karate::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 80px;
  width: 297px;
  height: 297px;
  background-image: url(../img/comparison-karate-photo.png);
}
.comparison__karate-phrase {
  margin: 0;
  margin-bottom: 15px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 68px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.comparison__author {
  display: block;
  margin-right: 190px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
}
.courses__wrapper {
  padding: 0 80px;
  padding-top: 55px;
  padding-bottom: 40px;
}
.courses__headline {
  margin: 0;
  margin-bottom: 75px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.courses__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}
.courses__item {
  width: 28%;
}
.courses__item-offer {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  padding-left: 115px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  color: #09aeeb;
}
.courses__item-offer b {
  font-weight: 800;
}
.courses__item-offer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 113px;
  height: 57px;
  background-image: url(../img/courses-icon-sap.png);
  background-repeat: no-repeat;
  background-position: center;
}
.courser__trainer-name {
  display: block;
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
.courses__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 540px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.courses__inner--calculate {
  background-image: url(../img/courses-calculator-photo.jpg);
}
.courses__inner--containers {
  background-image: url(../img/courses-container-photo.jpg);
}
.courses__inner--mechanism {
  background-image: url(../img/courses-mechanism-photo.jpg);
}
.courses__detail-button {
  position: absolute;
  margin: 0;
  padding: 15px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  line-height: 29px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2f2f2f;
  border: 2px solid #ffffff;
  transition: 0.5s;
}
.courses__detail-button:hover {
  color: #373737;
  background-color: #ffffff;
  border-color: #373737;
  transition: 0.5s;
  cursor: pointer;
}
.courses__detail-button:active {
  opacity: 0.7;
}
.courses__register-button {
  width: 100%;
  margin: 0;
  padding: 50px 0;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  text-align: center;
  color: #373737;
  background: none;
  border: none;
  border-left: 2px solid #cbcbcb;
  border-right: 2px solid #cbcbcb;
  border-bottom: 2px solid #cbcbcb;
  transition: 0.5s;
}
.courses__register-button b {
  font-weight: 800;
}
.courses__register-button:hover {
  font-size: 37px;
  border-color: #878787;
  cursor: pointer;
  transition: 0.5s;
}
.courses__register-button:active {
  opacity: 0.5;
}
.courses__discount {
  margin: 0;
  font-size: 29px;
  line-height: 35px;
  font-weight: 700;
  color: #4888eb;
  text-align: center;
  text-transform: uppercase;
}
.page-footer {
  background-color: #000000;
  color: #ffffff;
}
.page-footer__wrapper {
  padding: 0 80px;
  padding-top: 90px;
  padding-bottom: 80px;
}
.page-footer__contact-slogan {
  display: block;
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.page-footer__form .form__label {
  display: block;
  margin-bottom: 50px;
  font-size: 26px;
  line-height: 32px;
}
.page-footer__form .form__label:last-of-type {
  margin-bottom: 0;
}
.form__submit-btn {
  margin-top: 35px;
  padding: 10px 55px;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  transition: 0.5s;
}
.form__submit-btn:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  transition: 0.5s;
  cursor: pointer;
}
.form__submit-btn:active {
  opacity: 0.3;
}
