@font-face {
  font-family: 'Berlin Sans FB Demi Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Berlin Sans FB Demi Bold'), url('../fonts/BRLNSDB.woff') format('woff');
}

body {
  margin: 0;

  font-family: "Berlin Sans FB Demi Bold";
  color: #000000;
}

.job-form {
  width: 300px;
  margin: auto;
  padding: 0 20px;
}

.job-headline {
  margin: 0;
  margin-bottom: 20px;

  text-align: center;
}

.job-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 20px;

  font-family: "Berlin Sans FB Demi Bold";
  font-size: 18px;

  border: 3px solid #000000;
  border-radius: 10px;
}

.job-text {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 20px;

  font-family: "Berlin Sans FB Demi Bold";
  font-size: 18px;

  border: 3px solid #000000;
  border-radius: 10px;
}

.job-input:focus,
.job-text:focus {
  outline: none;
}

.button-form {
  display: flex;
  justify-content: space-between;
}

.button-photo,
.button-submit {
  width: 47%;
  padding: 20px;

  font-family: "Berlin Sans FB Demi Bold";
  font-size: 18px;
  text-align: left;

  background-color: #ffffff;
  border: 3px solid #000000;
  border-radius: 10px;
}

.button-photo:hover {
  cursor: pointer;
}


.button-submit {
  font-size: 26px;
  text-align: center;
  color: #ffffff;

  background-color: #000000;
}

.button-submit:hover {
  color: #000000;

  background-color: #ffffff;

  cursor: pointer;
}

.button-submit:active,
.button-photo:active {
  color: #000000;

  opacity: 0.5;
}
