/*Theme:Swayen-Johnson-theme

Author:Livetech*/



/* =WordPress Core

-------------------------------------------------------------- */



@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');



.alignnone {

	margin: 5px 20px 20px 0;

}



.aligncenter,

div.aligncenter {

	display: block;

	margin: 5px auto 5px auto;

}



.alignright {

	float:right;

	margin: 5px 0 20px 20px;

}



.alignleft {

	float: left;

	margin: 5px 20px 20px 0;

}



.aligncenter {

	display: block;

	margin: 5px auto 5px auto;

}



a img.alignright {

	float: right;

	margin: 5px 0 20px 20px;

}



a img.alignnone {

	margin: 5px 20px 20px 0;

}



a img.alignleft {

	float: left;

	margin: 5px 20px 20px 0;

}



a img.aligncenter {

	display: block;

	margin-left: auto;

	margin-right: auto

}

.img-half-rounded{

	border-bottom-right-radius: 6px;

	border-bottom-left-radius: 6px;

}

.wp-caption {

	background: #fff;

	border: 1px solid #f0f0f0;

	max-width: 96%; /* Image does not overflow the content area */

	padding: 5px 3px 10px;

	text-align: center;

}



.wp-caption.alignnone {

	margin: 5px 20px 20px 0;

}



.wp-caption.alignleft {

	margin: 5px 20px 20px 0;

}



.wp-caption.alignright {

	margin: 5px 0 20px 20px;

}



.wp-caption img {

	border: 0 none;

	height: auto;

	margin: 0;

	max-width: 98.5%;

	padding: 0;

	width: auto;

}



.wp-caption p.wp-caption-text {

	font-size: 11px;

	line-height: 17px;

	margin: 0;

	padding: 0 4px 5px; 

}



body{

	color: #4E4E4E;

	background-color: #ffffff;

	background-repeat: repeat-x;



}

.page-id-61 small{color:#000 !important;}

.wpa-ld {
	display: inline-block;
	position: relative;
	float: left;
}

a {

	color: #004D8F;

	text-decoration: none;



}

a:hover, 

a:focus {

	color: #81BE3D;

	text-decoration: underline;



}

header .list-group a,

a:hover,

a:focus{

	color: #81BE3D;



}

.blue{

	background-color:  #004D8F;

}

.navbar-default {

	background-color:  #004D8F;

	border:none;

}

.navbar-default .navbar-nav > li > a {

	font-weight: bold;

	color: #FFF;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {

	border-color: #E7E7E7;

	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);

	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);

}

.navbar-collapse {

	max-height: none;



}

@media (max-width: 767px){

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {

		color: #DBDBDB;



	}

}

.dropdown-menu > li > a {



	padding: 10px 20px;



}

.btn {

	-webkit-font-smoothing: antialiased;

	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);



}

aside li {

	list-style-type: none;

}

aside h2 {

	margin-bottom: 26px;

}

.justify{

	text-align: justify;

}

.bold{

	font-weight: bold;

}

.marginright10{

	margin-right: 10px

}

.margin-top-20{

	margin-top: 20px;

}

.marginbottom20{

	margin-bottom: 20px;



}

.margintop32{

	margin-top: 32px;



}

.marginbottom40{

	margin-bottom: 40px;

}

.paddingtop20{

	padding-top: 20px;

}

.paddingbottom20{

	padding-bottom:20px;

}

.paddingbottom50{

	padding-bottom:50px;

}



.paddingbottom70{

	padding-bottom:70px;

}

.paddingright16{

	padding-right: 16px;

}

hr.hr{

	background-color: rgba(0, 0, 0, 0.13);

	border: 0pt none;

	color: #EEE;

	color: rgba(0, 0, 0, 0.13);

	height: 1px;

	margin: 20px auto;

	text-align: center;

}

.social-lang{

	margin: 0 auto;

}

.translation{



}

.translation {

	margin-top: 26px;

	padding: 0;



}

ul.qts-lang-menu{

	display: inline-block;

	list-style-type: none;

	margin: 0;

	padding: 0;



}

ul.qts-lang-menu > li{

	margin: 0 5px;

	float: right;



}

ul.qts-lang-menu > li.last-child{

	margin: 0 5px;

	float: left;



}

ul.qts-lang-menu > li > a{

	color: #4E4E4E;

	



}

ul.qts-lang-menu span.linebreak{

	color: #4E4E4E;

	margin-left: 10px;



}

.clouds{

	

}

.clouds  img{



}

.img-responsive {

	margin: 0 auto;

}

.page-strip{

	margin-top:30px;



}

.size-16{

	font-size: 16px;

}

.front-welcome{

	padding:30px 60px;



}

.dropdown-menu > .active > a, 

.dropdown-menu > .active > a:hover, 

.dropdown-menu > .active > a:focus {

	color: #FFF;

	text-decoration: none;

	background-color:#6CB83A;

	outline: 0;

}

.dropdown-menu > li > a:hover, 

.dropdown-menu > li > a:focus {

	color: #FFF;

	text-decoration: none;

	background-color: #6CB83A;

}

.dropdown-menu > .active > a, 

.dropdown-menu > .active > a:hover, 

.dropdown-menu > .active > a:focus {

	color: #FFF;

	text-decoration: none;

	background-color: #6CB83A;

	outline: 0;

}

footer {

	color: #004D8F;

	

}

footer a {

	color: #fff;

}





.green-footer{	background: #81BE3D}



.center {

	text-align: center;

}

ul[class*='social-'] {

	display: inline-block;

	padding: 0;

	margin: 20px 0;



}



ul.social-header{



}

@media (min-width: 768px) and (max-width: 979px) {

	ul.social-header{



	}

}

/*ul.social-header > li {

	list-style-type: none;

	float: right;

	margin-left: 10px;

	*/



}

ul.social-footer > li {

	list-style-type: none;

	float: left;

	margin-right: 10px;



}

ul[class*='social-'] > li > a {

	



}

ul[class*='social-'] > li > a > img {

	



}

ul[class*='social-'] > li > a > img:hover {

	opacity: 0.7;



}

.front-box{

	text-align: center;

	margin-bottom: 30px;

	padding: 20px 20px 30px;

	/*background-color: #FFF;*/

	border-radius: 6px;

}

.jumbotron{

	text-align: right;

	background-color: #ffffff;

	background-repeat: no-repeat;

	background-position:bottom; 

}

.jumbotron p{

	font-size: 18px;

	

	text-shadow: 1px 1px 1px #FFF;

}

header .numbers{

	line-height: 23px;

	margin-top: 25px;

	text-align: center;

	color: #4E4E4E;

}

header .numbers a {

	color: #4E4E4E;;

}

@media (min-width: 768px) {



	.jumbotron h1 {



		margin-top:0;

		font-size: 49px;

	}



	ul li ul li.dropdown{



		position:relative;



	}

	ul li ul li.dropdown>.dropdown-menu{

		top:0;left:100%;

		margin-top:-6px;

		margin-left:-1px;

		-webkit-border-radius:0 6px 6px 6px;

		-moz-border-radius:0 6px 6px 6px;

		border-radius:0 6px 6px 6px;



	}

	ul li ul li.dropdown:hover>.dropdown-menu{

		display:block;

	}

	ul li ul li.dropdown>a:after{

		display:block;

		content:" ";

		float:right;

		width:0;

		height:0;

		border-color:transparent;

		border-style:solid;

		border-width:5px 0 5px 5px;

		border-left-color:#cccccc;

		margin-top:5px;margin-right:-10px;



	}

	ul li ul li.dropdown:hover>a:after{

		border-left-color:#ffffff;

	}

	ul li ul li.dropdown.pull-left{

		float:none;

	}

	ul li ul li.dropdown.pull-left>.dropdown-menu{

		left:-100%;margin-left:10px;

		-webkit-border-radius:6px 0 6px 6px;

		-moz-border-radius:6px 0 6px 6px;

		border-radius:6px 0 6px 6px;

	}

}

.copyright{

	color: #fff;

	margin: 20px 0 40px;

}

iframe{

	width: 100%

}



/*add fivecolumn view to bootstrap*/





@media (min-width: 768px){

	.fivecolumns .col-2, 

	.fivecolumns .col-sm-2, 

	.fivecolumns .col-lg-2  {

		width: 20%;

		*width: 20%;

	}

}

@media (min-width: 1200px) {

	.fivecolumns .col-2, 

	.fivecolumns .col-sm-2, 

	.fivecolumns .col-lg-2 {

		width: 20%;

		*width: 20%;

	}

}

@media (min-width: 768px) and (max-width: 979px) {

	.fivecolumns .col-2, 

	.fivecolumns .col-sm-2,

	.fivecolumns .col-lg-2 {

		width: 20%;

		*width: 20%;

		} .profiles h2{

			font-size:24px;

		}

	}

	@media (max-width: 767px){

		.img-profile{

			clear: both;



		}





	}

	.profiles h2{

		text-align: center;

	}

	.profiles  a h2{

		color: #666;

		text-align: center;

	}

	.profiles ul,

	.profilelistings ul {

		margin: 0;

		padding: 0;



	}

	.profiles ul > li,

	.profilelistings ul > li{

		list-style-type: none;





	}

	.list-group-item {

		background-color: transparent;

		border: none;

	}

	.list-group-item:first-child {

		border-top-right-radius: 0px;

		border-top-left-radius: 0px;

	}

	.list-group-item:last-child {

		border-bottom-right-radius: 0px;

		border-bottom-left-radius: 0px;

	}

	img.livetech{

		vertical-align: baseline;

	}

/*img.livetech:hover{

	opacity: 0.8;

	}*/



	@media (max-width: 767px) {

		span.linebreak{

			display: none;



		}

		ul.qts-lang-menu > li {

			margin: 0 0px;



		}

	}



	header .list-group {



		margin-bottom: 0px;

	}



	/*.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {

		transition:all .5s ease-in-out; 

		-o-transition:all .5s ease-in-out; 

		-moz-transition:all .5s ease-in-out; 

		-webkit-transition:all .5s ease-in-out; 

		}*/

		.space{

			display: block;

			height: 32px;

		}

		footer .nav > li > a:hover,

		footer .nav > li > a:focus {

			color: #FFF;

			text-decoration: none;

			background-color: #004D8F;

		}

		.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {

			color: #FFF;

			background-color: #004D8F;

			/*border: 1px solid #646464;*/

		}

		.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {

			z-index: 2;

			color: #FFF;

			background-color:  #81BE3D;;

			b

		}

		.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {

			color: #555;

			background-color: #E0E0E0;

		}

		.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

			color: #C0C0C0;

		}

		.form-control{

			background-color: #EEE;

		}

		.btn-success {

			color: #FFF;

			background-color: #81BE3D;

			border-color: #7AB43A;

		}

		.container .jumbotron {

			border: 1px solid #DBDBDB;

		}

		.img-rounded {

			border: 1px solid #DBDBDB;

		}





		a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {

			z-index: 2;

			color: #ffffff;

			background-color: #004D8F;

			border-color: #004D8F;

		}







		input.wpcf7-captchar {

			text-transform: uppercase;

		}

		::-webkit-input-placeholder { 

			text-transform: lowercase;



		}

		:-moz-placeholder {

			text-transform: lowercase;



		}

		::-moz-placeholder {  /* Firefox 19+ */

			text-transform: lowercase;

		}



		:-ms-input-placeholder {  

			text-transform: lowercase;

		}

		.fb-like {

			line-height: 25px;

		}

		/*==========SVG=========*/

		img.livetech{

			vertical-align: baseline;

		}



		path#livetech{  

			fill :#aaa;



		}



		g#device{

			fill :#aaa;



		}



		a:hover g#livetech-device path#livetech{

			fill :#ffffff;



		}



		a:hover g#livetech-device g#device{

			fill :#F96A15;



		}

		/*==========  END SVG=========*/

		p.profile-title {

			font-size: 26px;

		}



		/*archive list - 23/07 */



		.archiveClass ul{padding-left:10px !important;}





		/* Slider text */



		.sliderText{text-align:center; padding-bottom:90px; }

		.jumbotron {padding:0px!important;}

		.jumbotron h1{font-size:40px !important; text-align:center!important;}

		.logo-new{padding-top:25px; margin-left:0px !important;}

		/* Custom CSS */



		.navbar{margin-bottom:0px !important;}



		.blurb-style h2 {

			font-weight:bold;

			margin-bottom: 15px;

			padding-bottom: 15px;

			border-bottom: 2px solid #8dc63e;

			text-transform: uppercase;

			color: #004d8f;

		}





		.custom-style h2 {

			font-weight:bold;

			margin-bottom: 15px;

			padding-bottom: 15px;

			text-transform: uppercase;

			color: #004d8f;

		}







		.fullwidth-section-padding {

			font-family: 'Open Sans', sans-serif;

			width:100%;

			padding-top: 50px;

			padding-bottom: 50px;

			line-height:20px;

			color:#404040;

		}







		.fullwidth-section {

			font-family: 'Open Sans', sans-serif;

			width:100%;

			padding-bottom:60px;

			line-height:20px;

			color:#404040;

		}





		.feedback{padding-top:50px; padding-bottom:50px;}





		.blurb-style{text-align:Center; }



		.home-hr {

			background-color: rgb(0, 77, 143) !important;}





			.marginbottom20{color: #8dc63e !important;}





			g#livetech-device path#livetech {

				fill: #fff !important;

			}



			g#livetech-device g#device {

				fill: #Fff !important;

			}



			.blue .pull-right {    

				background: rgba(10, 8, 8, 0.38);

				padding: 10px;

			}



			.testimonials-text em:before, .testimonials-text em:after{display:none;}



			.numbers {

				padding: 20px;

				background: #8ec63f;

			}



			/* Offices */



			.office-dropdown {

				position: relative;

				display: inline-block;	

				background: #8ec63f;

				cursor: pointer; 

				font-weight: bold;



			}



			.office-dropdown .btn{

				color: #fff;

				padding:15px;

				font-size: 15px;

				letter-spacing: 3px;}



				.office-dropdown-content {

					display: none;

					position: absolute;

					background-color: #f9f9f9;

					min-width: 400px;

					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

					padding: 12px 16px;

					z-index: 1;

				}





				.office-dropdown:hover .office-dropdown-content {

					display: block;

				}



				h1, h2, h3{font-family: 'Open Sans', sans-serif;}



				h3{margin:0px !important;}



				.side-nav {

					border: 1px solid #eaeaea;

					padding: 10px;

					background: #fff;

				}

				.side-nav .nav-pills a{    

					font-size: 18px;

					color: #6f6868;

				}



				.sidebar-content {

					padding: 10px;

					background: #f4fbea;

					float: left;

					width: 30%;

				}



				.sidebar-content h3{color:#004d8f;}



				#breadcrumbs{padding-top:10px;}



				.blue .livetech{display:none;}



				footer .marginbottom20{color:#fff !important;}



				.reviews {

					padding-top: 10px;

					padding-bottom: 10px;

					background: rgb(142, 198, 63);

					color: #fff;

					font-size: 18px;

					margin-top: -45px;

					text-align: Center;

					font-weight: bold;

				}



				.navbar{min-height:auto !important;}



				.social{text-align:center;}



				ul.qts-lang-menu {

					margin-right: 10px; 

				}



				ul.social-header > li {

					list-style-type: none;

					float: left;

					margin-right: 10px;

				}



				.tagline {

					margin-top: 50px;

					font-size:17px !important;

					color: #004d8f;

					font-family: 'Open Sans';

					font-weight:bold;

				}



				.tagline span{color:#8ec63f;}



				.translation {
					margin-top: 20px;

					padding: 0;

				}



				.testimonial-author{padding-top:10px; padding-bottom:10px;}



				ul.social-header{margin:0 auto;}







				.email-form .home-hr{background:#fff !important;}



				.email-form h3{

					text-align:left;

					/* color: #ffffff !important;*/

					font-size:30px;

					color: #8ec63f !important;

				}



				.email-form .fa-envelope{margin-right:10px;

					margin-bottom:20px;font-size:50px !important;}



					footer {


						margin-top:50px;
						color: #004D8F;

						background: #81BE3D;

						clear: both;

					}



					.col-inner{padding:20px;}

					.custom-style{padding-top:20px; padding-bottom:40px;}



					.customBox {

						margin: 0 auto;

						padding: 20px;

						background: #8ec63f;

						margin-top: 30px;

						font-size: 19px;

						color: #fff;

					}



					.customBox img{

						width:230px !important;

						margin-bottom:20px;}



						.customBox span {

							padding-left: 10px;

							text-transform: uppercase;

							font-size: 22px;

							font-family: 'Open Sans', sans-serif;

							letter-spacing: 1px;

						}



						.accreditations{

							text-align:center;

							vertical-align:middle;

							background:#fff; padding-top:20px; padding-bottom:20px; margin-bottom:30px;}





							.accreditations img{vertical-align:middle;}



							small{color:#fff !important;}



							.left-logos{text-align:left;}

							.right-logos{text-align:right;}



							.spacer{padding-top:40px !important;}



							.blurb-style p {

								line-height: 45px;

								font-size: 18px;

							}

							.blurb-section {

								background: #f0f0f0;

								margin-top: 20px;

							}



							.subscribe{background:#000; padding:10px; color:#fff;}

							#menu-offices, #menu-offices-welsh{padding-left:0px !important;}

							.menu-offices-container li{padding-top:20px; list-style:none !important;}

							.office-side{float:left;}

							.access ul{padding-left:0px !important;}



							.a11y-toolbar-widget{padding-top:20px;}

							.a11y-toolbar-widget li{list-style:none !important;}



							footer a:hover{color:#000 !important;}



							.staff-profiles li {

								display: inline-block;

								text-align: left;

							}





							.staff-profiles img{clear:both; display:block;}



							.staff-profiles{text-align:center;}



							.staff-profiles span{color:#000;

								text-transform:uppercase;

								letter-spacing:1px;

								padding:10px;}





								@media screen and (max-width:980px){



									.sidebar-content{width:100% !important;}



									.office-dropdown-content{

										position:relative;

										box-shadow:none !important;



									}



								}



								.law-sections .container{text-align:center; margin:0 auto;}



								.first-slider{    width: 100%;}



								.carousel-caption {

									right: 20%;

									left: 20%;

									padding-bottom: 30px;

									font-size: 70px;

									text-shadow: none;

								}





								h1{margin-top:15px !important;}



								.home h3{font-size: 30px;

									color: #8ec63f !important;

								}



								.home-footer{margin-top:30px;}



								.carousel-caption {

									position: absolute;

									right: 15%;

									top: 45%;

									left: 15%;

									z-index: 10;

									padding:20px;

									color: #fff;

									text-align: center;

									text-shadow: 0 1px 2px rgba(0,0,0,.6);

								}



								.blue .pull-right{background:transparent!important;}



								.social-footer{float:right !important;}

								.copyright {

									color: #fff;

									margin: 20px 0 20px;

								}

								/* Category - Personal/Business */

								.menu-grid-item{



									margin-top:10px;

									float:left;}



									.menu-grid-item li{

										margin:10px;

										padding:20px;

										display:inline-block;

										list-style:none;}



										.menu-grid-item a {

											width: 200px;

											background: #81BE3D;

											display: block;

											font-weight: bold;

											text-align: center;

											color: #fff;

											padding: 20px;

											margin: 20px;

											min-height: 130px;

											font-size: 15px;

											text-transform: uppercase;

										}





										/********************************/



										.menu-offices-container{float:left;}





										.navbar-default .navbar-nav > .active > a{

											background-color: #8ec63f !important;

											color: #fff !important;

										}



										.user-pic{width:140px; height:150px;}



										.staff-profiles li:hover{opacity:0.8;}



										.staff-profiles li img{clear:both; display:block;}

										.staff-profiles li span{clear:both; display:block;}





										.nav > li > a{padding: 10px 9px;}





										.owl-nav{display:none;}



										.navbar-default .navbar-nav > li > a{

											letter-spacing:1px;

											font-family: 'Open Sans Condensed', sans-serif; 

											font-size:16px; text-transform:uppercase !important;}



											.dropdown-menu>li>a{font-family: 'Open Sans Condensed', sans-serif; font-weight:bold; font-size:16px; }



											.customBox .fa-users, .customBox .fa-briefcase{font-size:90px; display:block; margin-bottom:20px; clear:both;}



											.law-sections {

												margin-top: -380px;

												position: relative;

												z-index: 9999;

											}





											.staff-profiles li img {
												/* width: 100%; */
												-webkit-filter: grayscale(100%);
												filter: grayscale(100%);
												float: left;
												margin-right: 20px;
												text-align: center;
												height: auto;

											}






											.staff-profiles li {
												display: inline-block;
												text-align: left;
												margin-top: 20px;
												margin-right: 20px;
												width: 45%;
												background: #004d8f;
												color: #fff;
												// min-height: 320px;
												min-height: 375px;
											}


											.staff-content {
												float: left;
												width: 50%;

											}

											.staff-content strong{display:block;}





/*.staff-profiles li {

    display: inline-block;

    text-align: left;

    margin-top: 20px;

    margin-right: 20px;

    width: 20%;

    background: #004d8f;

    padding: 20px;

	color:#fff;

}

*/











@media screen and (max-width:980px){

	

	.staff-profiles li {

		width: 45%;

	}	

	

}





@media screen and (max-width:480px){

	



	.staff-profiles li{width:100%;}

	

}





.staff-profiles li a{color:#fff;}



.staff-profiles .image_container{



	max-height:350px;

	overflow:hidden;



}



.home-footer .row{

	padding-top:20px;

	padding-bottom:20px;

	

}



.home-footer{



	padding-left:0px !important; padding-right:0px !important;}





	.profile{margin-top:60px !important; margin-bottom:60px !important;}



/*.profile img:nth-child(2){width:300px !important;}



.staff-profiles li:nth-child(1)img {clear:none !important; width:400px !important;}



.profiles .profile li:nth-child(2) {

  /*  display: block;

    width: 100%;

	vertical-align:top;

    margin: 0 auto;

    text-align: center;

	margin-bottom:20px;

	}*/



	.profile li h4{

		clear:both;

		font-size:15px !important;}



/*.profile li:nth-child(1) .image_container, 

.profile li:nth-child(2) .image_container,

.profile li:nth-child(3) .image_container,

.profile li:nth-child(4) .image_container,

.profile li:nth-child(5) .image_container

{float:left;}*/



.hometext h2{font-size: 30px;

	color: #8ec63f !important;

}


.hometext p{

	font-size:18px !important;

	line-height:35px;

	margin: 0px;

}


.customBox:hover{background:#29951c!important;}


a:hover{color:#000;}



.two-col-layout .col-md-6, .two-col-layout .col-lg-6{padding-left:0px !important;}

@media screen and (max-width:980px){
	.customBox {
		margin: 0 auto;
		padding: 20px;
		background: #8ec63f;
		margin-top: 80px;
		font-size: 19px;
		color: #fff;
	}
}

/**** SLIDER ****/

/* jssor slider bullet navigator skin 05 css */

        /*

        .jssorb05 div           (normal)

        .jssorb05 div:hover     (normal mouseover)

        .jssorb05 .av           (active)

        .jssorb05 .av:hover     (active mouseover)

        .jssorb05 .dn           (mousedown)

        */

        .jssorb05 {

        	position: absolute;

        }

        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {

        	position: absolute;

        	/* size of bullet elment */

        	width: 16px;

        	height: 16px;

        	background: url('img/b05.png') no-repeat;

        	overflow: hidden;

        	cursor: pointer;

        }

        .jssorb05 div { background-position: -7px -7px; }

        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }

        .jssorb05 .av { background-position: -67px -7px; }

        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }



        /* jssor slider arrow navigator skin 22 css */

        /*

        .jssora22l                  (normal)

        .jssora22r                  (normal)

        .jssora22l:hover            (normal mouseover)

        .jssora22r:hover            (normal mouseover)

        .jssora22l.jssora22ldn      (mousedown)

        .jssora22r.jssora22rdn      (mousedown)

        .jssora22l.jssora22lds      (disabled)

        .jssora22r.jssora22rds      (disabled)

        */

        .jssora22l, .jssora22r {

        	display: block;

        	position: absolute;

        	/* size of arrow element */

        	width: 40px;

        	height: 58px;

        	cursor: pointer;

        	background: url('img/a22.png') center center no-repeat;

        	overflow: hidden;

        }

        .jssora22l { background-position: -10px -31px; }

        .jssora22r { background-position: -70px -31px; }

        .jssora22l:hover { background-position: -130px -31px; }

        .jssora22r:hover { background-position: -190px -31px; }

        .jssora22l.jssora22ldn { background-position: -250px -31px; }

        .jssora22r.jssora22rdn { background-position: -310px -31px; }

        .jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }

        .jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }



        /**** END OF SLIDER ****/





        .grid-contain ul.menu a {

        	width: 200px;

        	min-height: 100px;

        	background: #81BE3D;

        	display: block;

        	color: #fff;

        	padding: 20px;

        	margin: 20px;

        	font-weight:bold;

        	font-size: 15px;

        	text-transform: uppercase;

        }



        .grid-contain ul.menu {

        	list-style-type: none;

        }



        .grid-contain ul.menu li {

        	display:inline-block;

        	float:left;

        }



        /*.content-container a{text-decoration:underline;}*/



        .brochure_button{

        	font-weight:bold;

        	clear:both;

        	width:300px;

        	text-decoration:none !important;

        	display:block;

        	padding:20px; background:#8ec63f;

        	color: #fff;

        	text-transform: uppercase;

        	letter-spacing: 2px;

        }



        .social-footer li{list-style:none; display:inline;}	



        .newsThumb{float:left; margin-right:20px;}	

        .newsReadMore{padding:20px; background:#000; color:#fff;}



        /* Wealth Management */



        .purple-block {

        	background: #8e207f;

        	padding: 40px 40px 30px 40px;

        	width: 200px;

        	min-height: 105px;

        	font-weight: bold;

        }



        .blocks{margin-bottom:30px;}

        .blocks a{color:#fff !important; text-align:center;}



        .blue-block {

        	background: #00468b;

        	padding: 40px 40px 30px 40px;

        	width: 200px;

        	min-height: 105px;

        	font-weight: bold;

        }



        .wealth-content{margin-top:30px;}

        .wealth-content li{margin-bottom:20px;}



        .blocks .blue-block, .blocks .purple-block{margin-right:10px;}



        /* Wealth Colours */



        .page-id-1627 span,

        .page-id-1629 span,

        .page-id-22 span,

        .page-id-1633 span,

        .page-id-1414 span {

        	color: #8e207f !important;

        }





        .facebook-widget{margin-bottom:30px;}



        @media screen and (max-width:980px){



        	.menu-grid-item {

        		margin-top: 10px;

        		float: left;

        		clear: both;

        		width: 100%;

        	}



        	.menu-grid-item a{

        		margin:0px !important;

        		min-height:auto !important;

        		text-align:center;

        		width:100% !important;}

        	}



        	.profile{margin-top:0px !important;}



        	/*.page-image img{width:100%; height:auto !Important;}*/



        	/* Wealth Management Sub Pages */



        	/**** Wealth Management ****/



        	.page-id-1414 .navbar-default, .parent-pageid-1414 .navbar-default{

        		background-color: #8e207f;

        	}



        	.page-id-1414 .navbar-nav > .active > a, .parent-pageid-1414 .navbar-default > .active a{background-color:#004d8f !important;}



        	.tagline.wealth span{color:#8e207f;}



        	#full-width-carousel img{width:100%;}





        	.blue {

        		background-color: #093963;

        	}



        	/* Pages - Background*/



        	.content-container{background:#004D8F; color:#fff;}



        	.content-container a{color:#fff;}



        	/* Category Staff Profiles */



        	.category.staff-profiles{padding-left:0px !important;text-align:left;}



        	.category.staff-profiles li {

        		display: inline-block;

        		text-align: left;

        		margin-top: 20px;

        		margin-right: 0px;

        		width: 18%;

        		background: #004d8f;

        		// padding: 20px;

        		color: #fff;

        		vertical-align: top;

        	}

        	.category.staff-profiles li .inner {
        		padding:20px;
        	}


        	.nav>li>a {

        		position: relative;

        		display: block;

        		padding: 10px 12px !important;

        	}



        	.navbar-default .navbar-collapse{box-shadow:none !important;}



        	/*#jssor_1{height:480px !important;}*/





        	#jssor_1, #jssor_1 div, #jssor_1 div div {

        		height: 611px !important;

        	}





        	/* Testimonials - Speech Bubbles */



        	.testimonials li{list-style:none;}

        	.speechbubble {
        		position: relative;
        		text-align: left;
        		line-height: 20px;
        		margin-bottom: 20px;
        		margin-left: 20px;
        		font-style: italic;
        		background: #004e8f;
        		color: #fff;
        		padding: 20px;
        	}

        	.owl-nav{display:none !important;}


/*
.speechbubble p {

    padding: 40px 40px 0px 40px;

    }*/


/*
.speechbubble .source{padding: 40px 0px 0px 40px;}
*/


/*.speechbubble:before {

    content: ' ';

    position: absolute;

    width: 0;

    height: 0;

    left: 52px;

    top: 175px;

    border: 19px solid;

    border-color: #666 transparent transparent #666;

}





.speechbubble:after {

    content: ' ';

    position: absolute;

    width: 0;

    height: 0;

    left: 55px;

    top: 170px;

    border: 15px solid;

    border-color: #fff transparent transparent #fff;

}
*/


/* Changes to owl carousel - Testimonials */


.page-id-68 .owl-carousel, .page-id-7415 .owl-carousel {
	height: 700px !important;
	width: 50%;
	float: left;
}

.page-id-68 .owl-nav, .page-id-7415 .owl-nav {display:block; margin:0 auto; text-align:center;}



.page-id-68 .owl-nav .owl-prev, .page-id-68 .owl-nav .owl-next, .page-id-7415 .owl-nav .owl-prev, .page-id-7415 .owl-nav .owl-next{float:left; margin-right:5px; display:inline-block; background:#ccc; width:100px; padding:10px;}





#breadcrumbs {

	font-size: 14px;

}



.blue{padding-top:20px;}



.wpcf7-submit{

	background: #000;

	border: 0px;

	padding: 10px;

}



.page-id-62 .owl-carousel{display:none !important;}



.owl-carousel .owl-item img {

	display: block;

	width: 100%;

	height: auto;}



	.profile-pic img{

		-webkit-filter: grayscale(100%) !important; /* Safari 6.0 - 9.0 */

		filter: grayscale(100%)!important;

	}



	@media screen and (max-width:980px){

		.customBox .fa-users, .customBox .fa-briefcase {
			font-size: 36px;
			display: block;
			margin-bottom: 20px;
			clear: both;
		}

		.customBox span{font-size:16px;}

		/*.owl-carousel{height:600px;}	*/



	}





	.page-id-62 .col-sm-6.col-lg-6.col-md-6{margin-top:20px;}

	.page-id-62 .col-sm-6.col-lg-6.col-md-6 h2{margin-top:0px;}



	.links{float:right;}

	.social-footer{float:right;}



	.links li{list-style:none;}



	.located{margin-top:15px;}



	#menu-offices li, #menu-offices-welsh li{

		font-size:24px !important;

		display:inline !important; 

		margin-right:90px;}



		.menu-offices-container, .menu-offices-welsh-container{

			margin-top:20px;

			width:100%;}



			.located{

				padding-top:20px;

				padding-bottom:20px;

				background: #004d8f;

				text-align: center;

			}



			.located a{color:#fff;}



			.law-sections a:hover{text-decoration:none !important;}



			li#menu-item-1412 {

				margin-right: 0px !important;

			}



			.page-slider img{width:100%;}



			.bio {

				display: block;

				clear: both;

				padding: 20px 20px 10px 20px;

				background: #004d8f;

				color: #fff;

			}

			.bio li{list-style:none; margin-bottom:10px;}



			.profile-pic img {

				width: 100%;

			}



			.bio strong{color:#8ec63f;}



			/* Test - Profile Listing */



			.single-profile-listing{background-color: #8ec640!important;}

			.single-profile-listing article{background:#fff!important;}



			.single-profile-listing header{background:#fff!important;}


			.row.about{background:#fff; width:100%;}

			.category.staff-profiles li {

				display: inline-block;

				text-align: left;

				margin-top: 20px;

				margin-right: 0px;

				width: 48%;

				background: #004d8f;

				/* padding: 20px; */

				color: #fff;

				vertical-align: top;

			}



			.staff-profiles li img {

				float: left;



			}




			.staff-profiles .image_container{float:left;}



			@media screen and (max-width:980px){





				.col-xs-12{margin:0 auto; text-align:center;}



			}

			#menu-offices li, #menu-offices-welsh li {
				/*width: 16.3%;*/
				width: 13.3%;
				margin: 0px;
				display: inline-block!important;
				padding: 0px;
			}


			@media screen and (max-width:980px){

				/* Commented out for home buttons .col-sm-6{width:100%;}*/

			}

			@media only screen and (max-width:767px){
				#menu-offices li, #menu-office-welsh li {
					width: 49%;
				}
			}

			@media only screen and (max-width:480px){
				#menu-offices li, #menu-offices-welsh li {
					width: 100%;
				}
			}


			#menu-primary-menu .dropdown-menu {
				z-index:99999;
			}

			/** WEALTH BOXES **/

			#wealthboxes {
				display: block;
				clear:both;
				float: left;
				width: 100%;
				margin: 15px 0px;
			}

			#wealthboxes .wealth_top_box {
				background:#00468b;
				font-weight: bold;
				text-align: center;
			}

			#wealthboxes .wealth_top_box:nth-child(odd){
				background: #8e207f;
			}

			#wealthboxes .wealth_top_box:hover {

				opacity:0.8;
			}

			#wealthboxes .wealth_top_box a {
				text-decoration: none;
				display: block;
				padding: 40px 25px 30px 25px;
				min-height: 115px;
			}

			#wealthboxinfo li {
				padding:10px;
			}

			#wealthboxinfo #retirement:target, #wealthboxinfo #investments:target,#wealthboxinfo #tax_planning:target, #wealthboxinfo #protection:target, #wealthboxinfo #mortgages:target {
				-webkit-animation: fadeinout 2s linear forwards;
				animation: fadeinout 2s linear forwards;
			}

			@-webkit-keyframes fadeinout {
				0%,80% { 	background-color: transparent; }
				50% { 	background-color: #8e207f; }
			}

			@keyframes fadeinout {
				0%,80% { 	background-color: transparent; }
				50% { 	background-color: #8e207f; }
			}

			.blue .col-xs-12{text-align:center;}

			.ratings {
				float: right;
				font-size: 20px;
				width: 50%;
				padding-left: 30px;
				text-align: center;
				padding-top: 70px;
			}

			.fb_iframe_widget{margin-bottom:20px !important;}

			.newsSingleItem{
				float: left;
				display: block;
				clear:both;
				margin-bottom: 30px;
			}

			.newsReadMore{clear:both; float:left;}

			.row.about .award-first{display:inline-block;}
			.row.about .container{
				text-align:center;
				margin:0 auto !important;}


				.staff-profiles .inner {
					padding:20px;
				}

				#staffprofilelist {
					display: block;
					margin:20px 0;
				}

				#staffprofilelist .row {
					padding:20px 0;
				}

				#staffprofilelist .image_container {
					float: left;
					padding: 0px 20px;
				}

				#staffprofilelist.main a {
					color:#fff;
				}

				#staffprofilelist img {
	 /*   -webkit-filter: grayscale(100%);
	 filter: grayscale(100%);*/

	 -webkit-filter: grayscale(100%);
	 -moz-filter: grayscale(100%);
	 -ms-filter: grayscale(100%);
	 -o-filter: grayscale(100%);
	 filter: grayscale(100%);

	 filter: gray; /* IE 6-9 */

	}


	#staffprofilelist.main .inner {
		padding: 10px;
		background: #004d8f;
		display: block;
		float: left;
		width: 100%;
		color: #fff;
	}

	@media only screen and (max-width:980px){
		#staffprofilelist.main .single-profile {
			padding:20px;
		}

		#staffprofilelist.main .single-profile .inner {
			padding:20px;
		}

		#staffprofilelist.main .row {
			padding:0px;
		}
	}
	@media only screen and (max-width:530px){
		#staffprofilelist img {
			margin:0 auto;
		}
		#staffprofilelist .image_container {
			float: none;
			clear:both;
			display: block;
			width: 100%;
		}
	}
	
	/* 12/12 - Commented out for Christmas Banner   .law-sections{margin-top:-470px !important;}*/

	.law-sections {
		margin-top: -250px !important;
	}

	.christmas-message {
		margin-top: 85px;
	}

	.fa-tree{font-size:85px !important;}

	.christmas-message-box{   
		padding: 20px;
		background: #8ec63f;

		color: #fff;
		display:block
	}

	.blue-text{color:#004d8f;  font-size: 25px;}
	.white-text{clear:both; display:block; color:#fff; font-size: 25px;}

	@media screen and (max-width:1400px){

/* Commented out for christmas banner	.law-sections {
    margin-top: -425px !important;
    }*/

    .law-sections {
    	margin-top: -220px !important;
    }

    .owl-carousel span {

    	bottom: 195px !important;
    }



  }


  @media screen and (max-width:980px){

  	.owl-carousel span {
  		font-size:25px !important;
  		bottom: 110px !important;
  	}

  	.blue-text{font-size: 18px;}
  	.white-text{font-size: 18px;}	

  	.christmas-message{font-size:14px; margin-top:0px !important;}

  	.customBox{margin-top:20px !important;}

/* Christmas commented out for banner.law-sections {
    margin-top: -154px !important;
    }*/


    .law-sections {
    	margin-top: -95px !important;
    }


  }

  .owl-carousel span {
  	position: absolute;
  	z-index: 9999;
  	color: #fff;
  	font-size: 30px;
  	text-align: center;
  	left: 0;
  	right: 0;
  	bottom: 270px;
  }


  @media screen and (max-width:480px){

  	.owl-carousel span {
  		font-size:20px;
  		bottom: 110px !important;
  	}

  	.customBox span {
  		font-size: 13px;
  	}

  }

  @media only screen and (max-width:980px){
  	.sralogo {
  		float:none!important;
  		margin:0 auto;
  	}
  }
  


  header .our-offices {
  	padding: 5px 30px;
  	display: inline-block;
  	background: #004d8f;
  	color: #fff;
  }



  /** New anchor boxes **/

  #anchorboxes {
  	display: block;
  	clear:both;
  	float: left;
  	width: 100%;
  	margin: 15px 0px;
  }

  #anchorboxes .anchor_top_box {
  	background:#00468b;
  	font-weight: bold;
  	text-align: center;
  	margin-top: 10px;
  }

  #anchorboxes .anchor_top_box:nth-child(odd){
  	background:#8ec63f;
  }

  #anchorboxes .anchor_top_box:hover {

  	opacity:0.8;
  }

  #anchorboxes .anchor_top_box a {
  	text-decoration: none;
  	display: block;
  	padding: 40px 25px 30px 25px;
  	min-height: 115px;
  }

  


/** End new anchor boxes **/